.wrap { width: 100%; }
.headerContainer { background: #27273C; font-weight: bold; padding: 10px 0 10px 0; position: fixed;top: 0; left: 0; right: 0; z-index: 16; }
.headerContainerDown { opacity: 0.9; }
.headerWrap { margin: 0 auto; color: white; display: flex; justify-content: space-between; width: 1100px; font-family: 'nsR'; }
@media screen and (max-width: 768px) {
  .headerWrap { margin: 0 auto; color: white; display: flex; justify-content: space-between; width: 100%; }
}
.logo { line-height: 52px; font-size: 1.25rem; text-align: center; cursor: pointer; }
@media screen and (max-width: 768px) {
  .logo > span { display: none; }
  .logo::after { content: "DH's"; line-height: 52px; font-size: 1.25rem; text-align: center; cursor: pointer; }
}
.menuList { background: #27273C; color: white; font-size: 1rem; display: flex; line-height: 52px; }
.menuList div { padding: 0 10px 0 10px; cursor: pointer; } 